.displayContainer{
    display: flex;
    flex: 9;
    margin-left: .5rem;
    margin-right: 1rem;
    
}

.displayitem {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    height: 100vh;
    overflow:auto;
}

.list{
    width: 275px;
    margin: 0px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 4px;
}

.imageBox {
    background: #f2f2f2;
    text-align: center;
    margin: 10px;
}

.textcontainer{
    text-align: left;
    margin: 10px;
    text-align: left;
}

.showImage {

}

.name{
    font-size: 17px;
    color: #5e66a4;
    font-weight: 600;
    padding-bottom: 12px;
}

.launchyear {
    font-weight: bold;
    padding-top: 12px;
}


.launchyear1 {
    font-size: 16px;
    color: #707cce;
    list-style-type: disc;
    padding: 5px 0;
}

.uili {
    margin-top: -3px;
    margin-bottom: -10px;
}


.textcolor {
    padding: 15px 0;
    font-weight: 500;
    font-size: 16px;
    color: #707cce;
}


@media (orientation: portrait) {
    .displayitem {
        display: flex;
        justify-content: center;
        flex-flow: wrap;
        height: 100vh;
        overflow: auto;
        width: 100%;
    }
    .list {
        width: 89%;
        margin: 10px 0px;
    }
}